@keyframes focus {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.exam {
  display: flex;
  justify-content: space-between;
}

.page.exam .backHome-btn {
  /***/
  height: 6vw;
  width: 9vw;
}

.page.exam .header {
  margin-top: 5vw;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page.exam .title {
  position: relative;
  max-width: 35.88vw;
}

.page.exam .sub-titles {
  display: flex;
  width: 100%;
  height: 7vw;
  margin-top: 3vw;
  justify-content: center;
}

.page.exam .questionNumber,
.page.exam .timer {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 27vw;
  margin: 0 2vw;
  font-weight: 800;
}

.page.exam .questionNumber-text,
.page.exam .timer-text {
  position: relative;
  right: 3.5vw;
  top: 1vw;
  font-size: 4.5vw;
  width: 12vw;
  text-align: center;
}

.page.exam .questions-container {
  position: relative;
  min-height: 62%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 8vh;
}

.page.exam .questions-number {
  display: flex;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 2vw;
  z-index: 2;
}

.page.exam .number-img {
  height: 11vmin;
  margin: 1vw;

}

.page.exam .number-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  margin: 0 1.2vw;
  transition: all 0.2s ease;
}

.page.exam .number-text {
  opacity: 0.3;
  position: absolute;
  font-weight: 800;
  font-size: 5.5vmin;
}

.page.exam .active-question {
  opacity: 1;

}

.page.exam .card>:is(img, div.card-pic) {
  max-width: 90vw;
  width: 50vh;
}

.page.exam .card {
  position: absolute;
  transition: transform 1s ease;
}

.page.exam .empty-card {
  transform: rotate(4deg) translate(1%, 2%);
}

.page.exam .first-card {
  z-index: 1;
}

.page.exam .card.transition {
  z-index: 2;
}

.page.exam .next-back-btn {
  display: flex;
  align-items: center;
  height: 2em;
  direction: ltr;
  position: relative;
  bottom: 9vh;
  width: 85%;
  right: 1.5em;
  justify-content: flex-start;
}

.page.exam .next-back-btn> :is(img, div) {
  height: 9vw;
  margin: 0 2vw;
}

.page.exam .next-back-btn .arrows {
  display: flex;
  align-items: center;
}

.page.exam .next-back-btn.num1 .arrows .back {
  visibility: hidden;
  pointer-events: none;
}

.page.exam .next-back-btn.last .arrows>:is(div.back, img.back) {
  transform: translateX(-140%);
}

.page.exam .next-back-btn.last .arrows .next {
  visibility: hidden;
  pointer-events: none;
}

.page.exam .next-back-btn .arrows>:is(img, div) {
  height: 9vw;
  margin: 0 2vw;
}

.page.exam .answer-container {
  display: flex;
  margin-top: 2vh;
  align-items: center;
}

.page.exam .answer-container>:is(img, div) {
  height: 1.7vh;
  margin-left: 2%;
  pointer-events: none;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.page.exam .answer-container>.ans {
  pointer-events: none;
  display: inline;
  padding-bottom: 3%;
}

.page.practice .ans-container {
  display: flex;
}

.page.exam .number-container.active {
  opacity: 1;
}

/* 
.page.exam .number-container>.active {
  opacity: 1;
} */

.page.exam .number-container.active>.number-text {
  opacity: 1;
}

.page.exam .buttons-popup {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.page.exam .buttons-popup>:is(img, div) {
  width: 25vw;
  margin-bottom: 15%;
}

.page.exam .circle {
  position: absolute;
  top: 3%;
  right: 0%;
  width: 14%;
  height: 14.75%;
  border-radius: 50%;
  border: white .15em solid;
  box-shadow: 0 0 1px 1px white;
  background-color: var(--color);
}

.page.exam .wrong,
.page.exam .timeFocus {
  --color: rgb(227, 59, 78);
}

.page.exam .correct {
  --color: rgb(44, 191, 55);
}

.timeFocus {
  transition: all 1s ease-in-out;
  color: var(--color);
  animation: focus 1.2s ease;
  -webkit-animation: focus 1.2s ease;
}

.page.exam .done-exam-popup {
  color: var(--text-color);
  width: 78vw;
  height: 65vw;
  border-radius: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: url(../assets/images/general/leavePracticeOrExam_popup/leavePracticeOrExam_popup.svg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center
}

.page.exam .done-exam-popup .buttons-exit-popup {
  width: 88%;
  margin-bottom: 11%;
}

.page.exam .done-exam-popup .title-popup {
  margin-top: 2.6em;
  margin-bottom: 0.3em;
  width: 86%;
}

.page.exam .done-exam-popup .sub-title-popup {
  width: 70%;
  text-align: center;
}

.page.exam .done-exam-popup .buttons-exit-popup> :is(img, div) {
  width: 7.2em;
}

/* practiceBtnHomePage */
.practiceBtnHomePage0 {
  opacity: 0.2;
  fill: var(--secondary-color);
  enable-background: new;
}

.practiceBtnHomePage1 {
  fill: #FFFFFF;
}

.practiceBtnHomePage2 {
  enable-background: new;
}

.practiceBtnHomePage3 {
  fill: var(--text-color);
}

/* Additions from generalStyle.css */
/* איקס סגירה להודעות קופצות */
.close-btn {
  position: absolute;
  height: 4vw;
  right: 1em;
  top: 2.2em;
}

/*פופאפ לסוף התרגול והמבחן*/
.page .dark {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.411);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page .end-exam {
  color: var(--text-color);
  width: 72vw;
  height: 114vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: url("../assets/images/practice/finishPractice_popup.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page .title-popup {
  font-weight: 800;
  font-size: 7vmin;
  margin-top: 2em;
  margin-bottom: 2vw;
  width: 10em;
  text-align: center;
}

.page.exam .exit-popup .title-popup {
  margin-top: 2.5em;
}

.page.exam .end-exam .title-popup {
  font-size: 6vmin;
}

.page.exam .title-popup {
   height: 1.6em;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   border-radius: 1em;
   width: 8.5em;
   padding-top: 0.3em;
}

.page .popup-sub-titles {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;    
  height: 3em;
  justify-content: space-around;
}

.page .text1-popup {
  font-weight: 800;
  font-size: 1em;
}

.page .text2-popup {
  font-size: 1em;
}

.page .grey-line {
  background-color: rgb(233, 232, 232);
  width: 100%;
  height: 0.3vmin;
}

.page .backToHome-btn {
  height: 10vmin;
  margin-bottom: 15%;
}

.page .container-resultes {
  width: 100%;
  color: rgb(188, 188, 188);
  font-size: 1em;
}

.page .titleAndIcon-container {
  font-weight: 800;
  font-size: 6vmin;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  margin-bottom: 1%;
  align-items: center;
}

.page .checkIcon-btn {
  height: 4.5vmin;
}

.page .timeIcon-btn {
  height: 7vmin;
}

.page .progress-bar-container {
  width: 100%;
  height: 2vmin;
  border-radius: 2rem;
  margin-top: 4%;
  background-color: hsl(0, 0%, 94%);
}

.page .progress-bar-right-answers,
.page .progress-bar-time {
  background-color: var(--secondary-color);
  height: 2vmin;
  border-radius: 2rem;
  width: 0%;
  margin-top: 4%;
}

/* כרטיסיות למבחן ולתרגול */
/* .page .card,
.page .buttons {
  max-width: 87vw;
} */

.page .card>:is(img, div) {
  width: 100%;
}

.page.exam .question-text {
  position: absolute;
  height: 66%;
  width: 82%;
  right: 8%;
  top: 17%;
  color: var(--text-color);
  font-size: 4.3vmin;
}

.page.practice .question-text {
  position: absolute;
  height: 66%;
  width: 82%;
  right: 8%;
  top: 17%;
  color: var(--text-color);
  font-size: 4.2vmin;
}

.page .question {
  font-weight: 800;
  font-size: 1.3em;
}

.page .right-ans,
.page .wrong-ans {
  height: 10vmin;
  margin: 10% 0% 0% 10%;
  cursor: pointer;
}

.page .ans-container {
  display: flex;
}

.page .binary .line+.ans-container,
.page .line+.ans-container {
  margin-top: -0.6em;
}

.page .binary .line,
.page .line {
  margin-top: 0.4em;
  height: 0.2em;
  display: block;
  transform-origin: right;
  animation: line-expand 0.25s ease-in-out;
  width: 53vmin;
}

/*לפני המבחן*/
.page .exam-popup {
  color: var(--text-color);
  width: 18em;
  height: 32em;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: url("../assets/images/exam/beforeExam_popup/beforeExam_popup.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page .instruction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.page .exam-popup .text {
  text-align: right;
}


.page .icon1 {
  width: 7vw;
  height: 8vw;
}

.page .icon3,
.page .icon2 {
  width: 6vw;
  /* height: 7vw; */
}

.page .icon4 {
  width: 8vw;
  /* height: 9vw; */
}

.page .icon5 {
  width: 11vw;
  /* height: 12vw; */
}

.page .instructions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 21em;
  width: 13em;
}

.page .start-btn {
  width: 28vw;
  margin-bottom: 2em;
  margin-top: 0.5em;
}

.page .start-btn.insert-name {
  filter: grayscale(100%) brightness(71%);
  opacity: 0.3;
  pointer-events: none;
  transition: filter 0.5s ease-in-out;
}

.page .start-btn.insert-name.done {
  filter: grayscale(0%);
  opacity: 1;
  pointer-events: all;
}

.page .text-fill-name {
  text-align: center;

}
.page .exam-popup-insert-name {
  transition: all 0.4s ease-in-out;
  height: 22em;
  width: 16em;
} 
.page .input-text {
  width: 11em;
  height: 1.8em;
  text-align: center;
  font-family: Rubik;
  border-radius: 8px;
  font-size: inherit;
  margin-top: -1em;
}
.page .instructions.insert-name{
  align-items: center;
  height: 10em;
}

/* יציאה ממבחן או תרגול פופאפ */
.page .exit-popup {
  color: var(--text-color);
  width: 78vw;
  height: 65vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: url("../assets/images/general/leavePracticeOrExam_popup/leavePracticeOrExam_popup.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page .buttons-exit-popup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15%;
  width: 65%;
}

.page .button-popup {
  width: 23vw;
}

/* פוופאפ מעבר לתרגול בתוך עמוד הלמידה רק על נושא אחד */
.page .before-practice-one-sub {
  color: var(--text-color);
  width: 72vw;
  height: 94.5vw;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  background-image: url("../assets/images/learning/choosePractice_popup/choosePractice_popup.svg");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page .instructions-practice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 49%;
  width: 69%;
}

.page .instruction-practice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*  */
.page .beforePractice-instruction-container {
  display: flex;
  justify-content: space-between;
  width: 69%;
  margin: 6vw 0;
  box-sizing: border-box;
  align-items: flex-end;
  text-align: center;
}

.page .beforePractice-instruction-container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.italic {
  font-style: italic;
}