/* about_btn */
.about_btn0 {
    fill: #FFFFFF;
}

.about_btn1 {
    enable-background: new;
}

.about_btn2 {
    fill: var(--text-color)
}

/* about_header */
.about_header0 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 7;
    stroke-miterlimit: 10;
}

.about_header1 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.about_header2 {
    fill: #FFFFFF;
}

.about_header3 {
    enable-background: new;
}

.about_header4 {
    fill: var(--text-color)
}

/* homeGrapic_icon */
.homeGraphic_icon0 {
    fill: var(--gradient-color);
}

.homeGraphic_icon1 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.homeGraphic_icon2 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.homeGraphic_icon3 {
    fill: #FFFFFF;
}

.homeGraphic_icon4 {
    fill: var(--secondary-color);
}

.homeGraphic_icon5 {
    opacity: 0.1;
    fill: none;
    stroke: #EF4230;
    stroke-width: 5;
    stroke-miterlimit: 10;
    enable-background: new;
}

.homeGraphic_icon6 {
    opacity: 0.1;
    fill: none;
    stroke: #26A6E0;
    stroke-width: 5;
    stroke-miterlimit: 10;
    enable-background: new;
}

.homeGraphic_icon7 {
    opacity: 0.15;
    fill: var(--primary-color);
    enable-background: new;
}

.homeGraphic_icon8 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.homeGraphic_icon9 {
    opacity: 0.2;
    fill: var(--primary-color);
    enable-background: new;
}

.madorTill_header1 {
    fill: #fff;
}

/* madorTill_header */
.madorTill_header2 {
    fill: var(--text-color);
}

/* half-half btn */
.f9e22e4a-1634-4640-9717-a0f164177c4b {
    fill: var(--secondary-color);
    opacity: 0.2;
}

.b8dc6f49-cd12-4804-8c7e-8117b407551a,
.f9e22e4a-1634-4640-9717-a0f164177c4b {
    isolation: isolate;
}

.f86ceee4-d524-427c-933d-ea0cc608549f {
    fill: #fff;
}

.acff9d2b-7ac8-4499-9915-ca3c3a026221 {
    fill: var(--text-color);
}

/* show_btn */
.show_btn0 {
    opacity: 0.2;
    fill: var(--secondary-color);
    enable-background: new;
}

.show_btn1 {
    fill: #FFFFFF;
}

.show_btn2 {
    enable-background: new;
}

.show_btn3 {
    fill: var(--text-color);
}

/* practice_header */
.practice_header0 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.practice_header1 {
    fill: #FFFFFF;
}

.practice_header2 {
    enable-background: new;
}

.practice_header3 {
    fill: var(--text-color);
}

/* exam_header */
.exam_header0 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 7;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.exam_header1 {
    fill: #FFFFFF;
}

.exam_header2 {
    enable-background: new;
}

.exam_header3 {
    fill: var(--text-color);
}

/* backBtnGeneral */
.backBtnGeneral0 {
    opacity: 0.2;
}

.backBtnGeneral1 {
    fill: none;
    stroke: var(--secondary-color);
    stroke-width: 25;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.backBtnGeneral2 {
    fill: none;
    stroke: var(--secondary-color);
    stroke-width: 25;
    stroke-linecap: round;
}

.backBtnGeneral3 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.backBtnGeneral4 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 8;
    stroke-linecap: round;
}

/* exam_btn */
.exam_btn0 {
    opacity: 0.2;
    fill: var(--secondary-color);
    enable-background: new;
}

.exam_btn1 {
    fill: #FFFFFF;
}

.exam_btn2 {
    enable-background: new;
}

.exam_btn3 {
    fill: var(--text-color);
}

/*  */
.aboutCard0 {
    fill: none;
    stroke: #708FA0;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.aboutCard1 {
    fill: #FFFFFF;
}

.aboutCard2 {
    opacity: 5.000000e-02;
}

.aboutCard3 {
    fill: #282828;
}

.aboutCard4 {
    opacity: 0.1;
    fill: none;
    stroke: #EF4230;
    stroke-width: 7;
    stroke-miterlimit: 10;
    enable-background: new;
}

.aboutCard5 {
    opacity: 0.1;
    fill: none;
    stroke: #26A6E0;
    stroke-width: 7;
    stroke-miterlimit: 10;
    enable-background: new;
}

.aboutCard6 {
    fill: var(--secondary-color);
}

/* questionNumber */
.questionNumber0 {
    fill: var(--text-color);
}

.questionNumber1 {
    opacity: 0.3;
    enable-background: new;
}

.questionNumber2 {
    fill: #FFFFFF;
}

/* timerExam */
.timerExam0 {
    fill: var(--text-color);
}

.timerExam1 {
    opacity: 0.306;
}

.timerExam2 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.timerExam3 {
    fill: none;
    stroke: #FFFFFF;
}

/* bg */
.bg1, .bg5 {
  fill: none;
  stroke-width: 4px;
}

.bg1 {
  stroke: #707070;
}

.bg2 {
  fill: var(--primary-color);
}

.bg3 {
  opacity: 0.1;
}

.bg4 {
  clip-path: url(#clip-path);
}

.bg5 {
  stroke: #fff;
  stroke-miterlimit: 10;
}

/* questionLog1 */
      .questionLog1 {
        fill: var(--text-color);
      }

      .questionLog2 {
        fill: #fff;
        opacity: 0.111;
      }