@supports not (top: max(1rem, 2vmin)) {
    /* openingC.css */
    .page.opening .title {
        top: 16vmin;
      }

      /* aboutC.css */
      .page.about .container-titles :first-child {
        font-size: 1.3em;
      }
      
      .page.about .container-titles :last-child {
        font-size: 1em;
      }
    }

@supports not ((gap: 0.2rem) and (display:flex)) {

    /* examC.css */
    .number-container {
        margin-right: 0.45rem;
        margin-left: 0.45rem;
    }

    .practice-btn {
        margin-right: 3vw;
        margin-left: 3vw;
    }


    .page.exam .next-back-btn .arrows .next,
    .page.exam .next-back-btn .arrows .back {
        margin: 0.5vh;
    }

    .page .buttons-exit-popup .button-popup {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

    }

    .page.exam .buttons-popup .backToExam-btn,
    .page.exam .buttons-popup .backToHome-btn {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    /* learningC.css */
    .page.learning.subjects .cards-container .learningCard {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }

    .page.learning.subjects .learningCard .icon {
        margin-bottom: 0.3rem;
    }

    .page.learning.content .cards-container .card-group {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-bottom: 3rem;

    }

    .page.learning.content .next-back-btn .back,
    .page.learning.content .next-back-btn .next {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .page.learning.subjects .buttons .button:first-of-type {
        margin-left: 2rem;
    }

    /* practiceC.css */
    .page.practice .buttons .btn:first-of-type {
        margin-left: 2rem;
    }

    /* searchC.css */
    .searchBoxHolder {
        margin-bottom: 1vh;
    }
}